/**
 * {{description}}{{^description}}{{classname}}{{/description}}
 * DEBUG: classname={{classname}}
 * DEBUG: parentSchema={{parentSchema}}
 * DEBUG: baseType={{baseType}}
 */
{{#isDeprecated}}
@Deprecated{{/isDeprecated}}
{{#description}}
@ApiModel(description = "{{{.}}}")
{{/description}}
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
{{>additionalModelTypeAnnotations}}{{#discriminator}}{{>typeInfoAnnotation}}{{/discriminator}}{{>xmlAnnotation}}
{{#vendorExtensions.x-class-extra-annotation}}
{{{vendorExtensions.x-class-extra-annotation}}}
{{/vendorExtensions.x-class-extra-annotation}}
// DEBUG: classname={{classname}}, isRequestClass={{isRequestClass}}
public class {{classname}} {{#parent}}extends {{{.}}} {{/parent}} {{#vendorExtensions.x-implements}}{{#-first}}implements {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{#-last}} {{/-last}}{{/vendorExtensions.x-implements}}{
{{#serializableModel}}
  private static final long serialVersionUID = 1L;
{{/serializableModel}}

{{#vars}}
    {{#isEnum}}
        {{^isContainer}}
            {{^vendorExtensions.x-enum-as-string}}
                {{>modelInnerEnum}}
            {{/vendorExtensions.x-enum-as-string}}
        {{/isContainer}}
        {{#isContainer}}
            {{#mostInnerItems}}
                {{>modelInnerEnum}}
            {{/mostInnerItems}}
        {{/isContainer}}
    {{/isEnum}}


    {{^vendorExtensions.x-is-jackson-optional-nullable}}
        {{#isContainer}}
            {{#deprecated}}
                @Deprecated // deprecated {{#vendorExtensions.x-deprecatedInVersion}}since {{#appName}}{{{.}}}{{/appName}} v{{.}}{{/vendorExtensions.x-deprecatedInVersion}}{{#vendorExtensions.x-deprecatedMessage}}: {{{.}}}{{/vendorExtensions.x-deprecatedMessage}}
            {{/deprecated}}
            private {{{datatypeWithEnum}}} {{name}}{{#required}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/required}}{{^required}} = null{{/required}};
        {{/isContainer}}
        {{^isContainer}}
            {{#deprecated}}
                @Deprecated // d
                eprecated {{#vendorExtensions.x-deprecatedInVersion}}since {{#appName}}{{{.}}}{{/appName}} v{{.}}{{/vendorExtensions.x-deprecatedInVersion}}{{#vendorExtensions.x-deprecatedMessage}}: {{{.}}}{{/vendorExtensions.x-deprecatedMessage}}
            {{/deprecated}}
            private {{{datatypeWithEnum}}} {{name}};

        {{/isContainer}}
    {{/vendorExtensions.x-is-jackson-optional-nullable}}

{{/vars}}


{{! 只为Request类添加无参构造方法 }}
{{#lambda.test}}^.*Request${{classname}}
public {{classname}}() {
{{#servers}}
    this.setPath("{{url}}");
{{/servers}}
{{^servers}}
    this.setPath("/ams/api/v1/payments/consult");
{{/servers}}
}
{{/lambda.test}}


}