/*
 * Payment API
 * Payment API is used for xxx. Refer [doc](https://global.alipay.com/docs/ac/ams/consult) # Auth
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.PaymentFactor;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.PaymentVerificationData;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayResponse;
import lombok.*;

/** AlipayPayRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayRequest extends AlipayRequest<AlipayPayResponse> {

  private Object productCode;

  private String paymentRequestId;

  private String order;

  private Amount paymentAmount;

  private PaymentMethod paymentMethod;

  private String paymentExpiryTime;

  private String paymentRedirectUrl;

  private String paymentNotifyUrl;

  private PaymentFactor paymentFactor;

  private SettlementStrategy settlementStrategy;

  private String creditPayPlan;

  private String appId;

  private String merchantRegion;

  private String userRegion;

  private Env env;

  private PaymentMethod payToMethod;

  private Boolean isAuthorization;

  private Object merchant;

  private PaymentVerificationData paymentVerificationData;

  private String extendInfo;

  private String merchantAccountId;

  private Boolean dualOfflinePayment;

  public AlipayPayRequest() {
    this.setPath("/ams/api/v1/payments/pay");
  }

  @Override
  public Class<AlipayPayResponse> getResponseClass() {
    return AlipayPayResponse.class;
  }
}
