/*
 * Payment API
 * Payment API is used for xxx. Refer [doc](https://global.alipay.com/docs/ac/ams/consult) # Auth
 *
 * The version of the OpenAPI document: 1
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.alipay.global.api.request.ams.pay;

import com.alipay.global.api.model.ams.*;
import com.alipay.global.api.model.ams.Amount;
import com.alipay.global.api.model.ams.Env;
import com.alipay.global.api.model.ams.Merchant;
import com.alipay.global.api.model.ams.PaymentFactor;
import com.alipay.global.api.model.ams.PaymentMethod;
import com.alipay.global.api.model.ams.PaymentVerificationData;
import com.alipay.global.api.model.ams.ProductCodeType;
import com.alipay.global.api.model.ams.SettlementStrategy;
import com.alipay.global.api.request.AlipayRequest;
import com.alipay.global.api.response.ams.pay.AlipayPayResponse;
import lombok.*;

/** AlipayPayRequest */
@EqualsAndHashCode(callSuper = true)
@Data
public class AlipayPayRequest extends AlipayRequest<AlipayPayResponse> {

  private ProductCodeType productCode;

  private String paymentRequestId;

  private String order;

  private Amount paymentAmount;

  private PaymentMethod paymentMethod;

  private String paymentExpiryTime;

  private String paymentRedirectUrl;

  private String paymentNotifyUrl;

  private PaymentFactor paymentFactor;

  private SettlementStrategy settlementStrategy;

  private String creditPayPlan;

  private String appId;

  private String merchantRegion;

  /**
   * A 2-letter country or region code based on the standard of ISO 3166 Country Codes. This
   * parameter is used to sort Alipay+ payment methods according to the user&#39;s region. For
   * example, if ALIPAY_CN and KAKAOPAYare both on your payment method list and the user is from
   * South Korea, KAKAOPAY will be listed first on the Alipay+ cashier page. Note: This parameter is
   * only for the merchant that has integrated the Alipay+ cashier page. More information: Maximum
   * length: 2 characters
   */
  private String userRegion;

  private Env env;

  private PaymentMethod payToMethod;

  private Boolean isAuthorization;

  private Merchant merchant;

  private PaymentVerificationData paymentVerificationData;

  private String extendInfo;

  /**
   * The unique ID to identify a merchant account. Note: Specify this parameter when you use a
   * single client ID across multiple locations. More information: Maximum length: 32 characters
   */
  private String merchantAccountId;

  private Boolean dualOfflinePayment;

  public AlipayPayRequest() {
    this.setPath("/ams/api/v1/payments/pay");
  }

  @Override
  public Class<AlipayPayResponse> getResponseClass() {
    return AlipayPayResponse.class;
  }
}
